// Override Boostrap variables
@import '~bootswatch/dist/cerulean/variables';
@import '~react-big-calendar/lib/css/react-big-calendar.css';
// Import Bootstrap source files from node_modules
// @import 'node_modules/bootstrap/scss/bootstrap';
// @import '~bootswatch/dist/cerulean/bootswatch';

@import 'main.css';
@import 'main2.css';

.custom {
  &_header {
    padding-top: 10px;
    border-bottom: 1px solid lightgray;
    nav {
      margin-left: 100px;
      margin-right: 100px;
    }
  }

  &_container {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.btn {
  margin-top: 10px !important;
}

.icon-notifications {
  display: flex;
  align-items: center;
}
